body {
    background: #eee;
}

header {
    text-align: center;
    font-size: 50px;
    background:#0164A8;
    color: #ACBDBA;
    padding: 30px;
    border-bottom: 3px solid blanchedalmond;
    margin-bottom: 20px;
}

#start {
    text-align: center;
    font-size: 30px;
    color: #001D4A;
    padding: 20px;
    margin-bottom: 50px;
    
}

#stats {
    float: left;
    margin-left: 5%;
    font-size: 20px;
    line-height: 30px;
    border: 3px solid #ECA400;
    padding: 20px;
    color: #ACBDBA;
    background: #001D4A;
}

#gameBoard {
    float: right;
    margin-right: 5%;
    font-size: 30px;
    border: 3px solid #ECA400;
    padding: 20px;
    color: #ACBDBA;
    background: #001D4A;
}

footer {
    clear: both;
    text-align: center;
    background: #ECA400;
    color: #eee;
    padding: 30px;
    margin-top: 20px;
    font-size: 12px;
    position: fixed;
    bottom: 0;
    width: 100%;
}